@tailwind base;
@tailwind components;
@tailwind utilities;

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.hanken-grotesk {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}
/* 
.league-link {
  background: linear-gradient(
      to right,
      rgba(219, 39, 119, 1),
      rgba(219, 39, 119, 1)
    ),
    linear-gradient(
      to right,
      rgba(219, 39, 119, 1),
      rgba(219, 39, 119, 1),
      rgba(253, 224, 71, 1)
    );
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
} */

/* .league-link:hover {
  background-size: 0 2px, 100% 2px;
} */
