<!DOCTYPE html>
<html lang="en" data-app-version="<%= __APP_VERSION__ %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= __APP_TITLE__ %></title>

    <meta name="description" content="<%= __APP_DESCRIPTION__ %>" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <link rel="mask-icon" href="/logo.svg" />

    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="dark"
    />
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
  </head>
  <body>
    <div id="app" class="dark"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
