@use "../../../node_modules/vuetify/lib/styles/main.sass" with (
  $color-pack: false,
  $utilities: (
    "rounded": false,
    "rounded-top": false,
    "rounded-end": false,
    "rounded-bottom": false,
    "rounded-start": false,
    "rounded-top-start": false,
    "rounded-top-end": false,
    "rounded-bottom-end": false,
    "rounded-bottom-start": false,
    "overflow": false,
    "overflow-x": false,
    "overflow-y": false,
    "float": false,
    "float:rtl": false,
    "float:ltr": false,
    "order": false,
    margin-x: false,
    margin-y: false,
    margin-top: false,
    margin-bottom: false,
    margin-left: false,
    margin-right: false,
    "padding-x": false,
    "padding-y": false,
    "padding-top": false,
    "padding-right": false,
    "padding-bottom": false,
    "padding-left": false,
    "border": false,
    "border-opacity": false,
    "border-top": false,
    "border-end": false,
    "border-bottom": false,
    "border-start": false,
    "border-style": false,
    "text-align": (
      responsive: true,
      property: text-align,
      class: text,
      values: left justify start end,
    ),
    "typography": false,
    "height": false,
    "width": false,
  ),
  $body-font-family: "Inter var"
);

@use "../../../node_modules/vuetify/dist/_component-variables.sass" with (
  $button-text-letter-spacing: 0,
  $button-text-transform: unset,
  // VCardText
  $card-title-letter-spacing: 0,
  $card-subtitle-letter-spacing: 0,
  $card-text-letter-spacing: 0,
  // VDialog
  $dialog-card-text-letter-spacing: 0,
  $dialog-card-header-text-padding-top: 0,
  $dialog-card-text-padding: 8px 24px,
  // VField
  $field-control-padding-start: 1,
  $field-control-padding-end: 1,
  $field-font-size: 1,
  $field-letter-spacing: 0,
  // VField hack
  $field-outline-opacity: 0.16,
  $label-letter-spacing: 0,
  $label-font-size: 14px,
  // VInputDetails
  $input-details-letter-spacing: 0,
  // VListItemTitle
  $list-item-title-letter-spacing: 0,
  // VProgressCircular
  $progress-circular-underlay-color: red,
  // VSnackbar
  $snackbar-letter-spacing: 0,
  // VToolbar
  $toolbar-title-letter-spacing: 0,
  // VTooltip
  $tooltip-background-color: blue,
  $tooltip-font-size: green
);

@use "../../../node_modules/vuetify/lib/components/VBtn/VBtn.sass";
@use "../../../node_modules/vuetify/lib/components/VAlert/VAlert.sass";
@use "../../../node_modules/vuetify/lib/components/VApp/VApp.sass";
@use "../../../node_modules/vuetify/lib/components/VAppBar/VAppBar.sass";
@use "../../../node_modules/vuetify/lib/components/VAutocomplete/VAutocomplete.sass";
@use "../../../node_modules/vuetify/lib/components/VAvatar/VAvatar.sass";
@use "../../../node_modules/vuetify/lib/components/VBadge/VBadge.sass";
@use "../../../node_modules/vuetify/lib/components/VBanner/VBanner.sass";
@use "../../../node_modules/vuetify/lib/components/VBreadcrumbs/VBreadcrumbs.sass";
@use "../../../node_modules/vuetify/lib/components/VBtnGroup/VBtnGroup.sass";
@use "../../../node_modules/vuetify/lib/components/VBtnToggle/VBtnToggle.sass";
@use "../../../node_modules/vuetify/lib/components/VCard/VCard.sass";
@use "../../../node_modules/vuetify/lib/components/VCarousel/VCarousel.sass";
@use "../../../node_modules/vuetify/lib/components/VCheckbox/VCheckbox.sass";
@use "../../../node_modules/vuetify/lib/components/VDialog/VDialog.sass";
@use "../../../node_modules/vuetify/lib/components/VDivider/VDivider.sass";
@use "../../../node_modules/vuetify/lib/components/VExpansionPanel/VExpansionPanel.sass";
@use "../../../node_modules/vuetify/lib/components/VFooter/VFooter.sass";
@use "../../../node_modules/vuetify/lib/components/VGrid/VGrid.sass";
@use "../../../node_modules/vuetify/lib/components/VIcon/VIcon.sass";
@use "../../../node_modules/vuetify/lib/components/VImg/VImg.sass";
@use "../../../node_modules/vuetify/lib/components/VInput/VInput.sass";
@use "../../../node_modules/vuetify/lib/components/VChip/VChip.sass";
@use "../../../node_modules/vuetify/lib/components/VChipGroup/VChipGroup.sass";
@use "../../../node_modules/vuetify/lib/components/VCode/VCode.sass";
@use "../../../node_modules/vuetify/lib/components/VColorPicker/VColorPicker.sass";
@use "../../../node_modules/vuetify/lib/components/VCombobox/VCombobox.sass";
@use "../../../node_modules/vuetify/lib/components/VCounter/VCounter.sass";
@use "../../../node_modules/vuetify/lib/components/VField/VField.sass";
@use "../../../node_modules/vuetify/lib/components/VFileInput/VFileInput.sass";
@use "../../../node_modules/vuetify/lib/components/VItemGroup/VItemGroup.sass";
@use "../../../node_modules/vuetify/lib/components/VKbd/VKbd.sass";
@use "../../../node_modules/vuetify/lib/components/VLabel/VLabel.sass";
@use "../../../node_modules/vuetify/lib/components/VLayout/VLayout.sass";
@use "../../../node_modules/vuetify/lib/components/VList/VList.sass";
@use "../../../node_modules/vuetify/lib/components/VMain/VMain.sass";
@use "../../../node_modules/vuetify/lib/components/VMenu/VMenu.sass";
@use "../../../node_modules/vuetify/lib/components/VNavigationDrawer/VNavigationDrawer.sass";
@use "../../../node_modules/vuetify/lib/components/VOverlay/VOverlay.sass";
@use "../../../node_modules/vuetify/lib/components/VParallax/VParallax.sass";
@use "../../../node_modules/vuetify/lib/components/VPagination/VPagination.sass";
@use "../../../node_modules/vuetify/lib/components/VProgressCircular/VProgressCircular.sass";
@use "../../../node_modules/vuetify/lib/components/VProgressLinear/VProgressLinear.sass";
@use "../../../node_modules/vuetify/lib/components/VRadioGroup/VRadioGroup.sass";
@use "../../../node_modules/vuetify/lib/components/VRating/VRating.sass";
@use "../../../node_modules/vuetify/lib/components/VResponsive/VResponsive.sass";
@use "../../../node_modules/vuetify/lib/components/VSelect/VSelect.sass";
@use "../../../node_modules/vuetify/lib/components/VSelectionControl/VSelectionControl.sass";
@use "../../../node_modules/vuetify/lib/components/VSelectionControlGroup/VSelectionControlGroup.sass";
@use "../../../node_modules/vuetify/lib/components/VSheet/VSheet.sass";
@use "../../../node_modules/vuetify/lib/components/VSlideGroup/VSlideGroup.sass";
@use "../../../node_modules/vuetify/lib/components/VSlider/VSlider.sass";
@use "../../../node_modules/vuetify/lib/components/VSwitch/VSwitch.sass";
@use "../../../node_modules/vuetify/lib/components/VTabs/VTabs.sass";
@use "../../../node_modules/vuetify/lib/components/VTextarea/VTextarea.sass";
@use "../../../node_modules/vuetify/lib/components/VThemeProvider/VThemeProvider.sass";
@use "../../../node_modules/vuetify/lib/components/VTimeline/VTimeline.sass";
@use "../../../node_modules/vuetify/lib/components/VToolbar/VToolbar.sass";
@use "../../../node_modules/vuetify/lib/components/VTooltip/VTooltip.sass";
@use "../../../node_modules/vuetify/lib/components/VVirtualScroll/VVirtualScroll.sass";
@use "../../../node_modules/vuetify/lib/components/VWindow/VWindow.sass";
