<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
    <title>api.ternent.dev</title>
  </head>

  <body>
    <div class="content">
      <header class="header">
        <h1>
          <span class="pagescroll"
            >ternent[dot]dev<span class="text-pink">.</span></span
          >
        </h1>
        <h2><span>api.ternent.dev</span></h2>
      </header>
      <div>
        <h3>Welcome</h3>
        <p>Hello, thanks for dropping by to my little slice of the internet.</p>
      </div>
      <div>
        <h3>Apps</h3>
        <p><a href="https://api.ternent.dev">api.ternent.dev</a></p>
        <p>
          <a href="https://www.footballsocial.app">www.footballsocial.app</a>
        </p>
        <p>
          <a href="https://api.footballsocial.app">api.footballsocial.app</a>
        </p>
      </div>
      <div>
        <h3>Stack</h3>
        <p>
          kubernetes and node and vercel and supabase and redis and vue and some
          other stuff.
        </p>
      </div>
      <div>
        <h3>socket API</h3>
        <pre class="code-block">
const socket = new WebSocket('wss://api.ternent.dev');

// Send socket events
socket.addEventListener('open', (event) => {
    socket.send(JSON.stringify({ message: 'Hello Server!' }));
});

// Listen for socket events
socket.addEventListener('message', (event) => {
    console.log('message received: ', JSON.parse(event.data));
});</pre
        >
      </div>
      <div>
        <h3>rest API</h3>
        <p>There aren't any yet.</p>
      </div>
      <footer class="footer">
        <p>This is a safe space.</p>
        <p>There are no cookies, intrusive analytics or other nasties here.</p>
      </footer>
    </div>

    <script type="module" src="js/main.js"></script>
  </body>
</html>
