@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

.prose {
  max-width: min(100%, var(--main-content-max-width));
  & > *:not(:first-child) {
    margin-block-start: var(--flow-space);
  }
  & > div > p:not(:first-child) {
    margin-block-start: var(--flow-space);
  }
  p {
    /* color: var(--color-neutral-100); */
  }
  a {
    /* color: var(--a-hover-color); */
    &:hover {
      /* color: var(--color-accent-200); */
    }
  }
  img {
    max-width: 100%;
    height: auto;
    /* border-radius: var(--border-radius-s); */
    margin-inline: auto;
    display: block;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: anywhere;
  }
  ol,
  ul {
    padding-inline-start: 1em;
  }
  li {
    overflow-wrap: anywhere;
    margin-bottom: 0.2em;
  }
  blockquote {
    /* border-inline-start: 1px solid var(--color-accent-500); */
    padding: var(--space-s) var(--space-m) var(--space-s) var(--space-m);
    border-radius: 0 var(--border-radius-m) var(--border-radius-m) 0;
    /* background-color: var(--color-neutral-800); */
  }
  blockquote footer {
    margin-top: 0.2em;
  }
  hr {
    border: 0;
    /* border-bottom: 1px solid var(--border-color); */
  }
  code,
  code span,
  pre {
    padding: 4px;
    border-radius: 4px;
    overflow: auto;
    max-width: 100%;
  }
  code {
    font-size: var(--variable-font-size);
  }
  pre {
    filter: invert(88%);
    background-color: var(--paper) !important;
    tab-size: 2;
  }
}

.prose :is(h1, h2, h3):not(:first-child) {
  margin-block-start: 1em;
}
