@layer theme, base, components, utilities;
@import "./design-system/tokens.css" layer(theme);
@import "./design-system/base.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@plugin "@tailwindcss/typography";
