apiVersion: apps/v1
kind: Deployment
metadata:
  name: ternent-api
  namespace: backend
spec:
  selector:
    matchLabels:
      app: ternent-api
  template:
    metadata:
      labels:
        app: ternent-api
    spec:
      containers:
        - name: ternent-api
          image: samternent/ternent-api:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3000
          env:
            - name: DIGITALOCEAN_TOKEN
              valueFrom:
                secretKeyRef:
                  name: ternent-api-env
                  key: digitalocean-token
            - name: ISSUER_PRIVATE_KEY_PEM
              valueFrom:
                secretKeyRef:
                  name: ternent-api-env
                  key: issuer-private-key-pem
  
