name: Release

on:
  push:
    branches:
      - main
env:
  PNPM_CACHE_PATH: ~/.pnpm-store
  PNPM_CACHE_NAME: pnpm-store-cache

jobs:
  release:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@master
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Get node version
        id: nvmrc
        run: echo ::set-output name=NODE_VERSION::$(cat .nvmrc)

      - name: Use node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ steps.nvmrc.outputs.NODE_VERSION }}
          registry-url: https://registry.npmjs.org

      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ${{ env.PNPM_CACHE_PATH }}
          key: ${{ runner.os }}-${{ env.PNPM_CACHE_NAME }}-${{ steps.nvmrc.outputs.NODE_VERSION }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.PNPM_CACHE_NAME }}-${{ steps.nvmrc.outputs.NODE_VERSION }}-
      - name: Set npm token
        run: npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Set pnpm config
        run: pnpm config set store-dir $PNPM_CACHE_PATH

      - name: Install dependencies
        run: pnpm install

      - name: Build dist
        run: pnpm --filter @concords/footballsocial build

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_KEY" > ~/.ssh/id_rsa
          chmod 700 ~/.ssh/id_rsa
          cat >>~/.ssh/config <<END
          Host staging
            HostName $SSH_HOST
            User $SSH_USER
            IdentityFile ~/.ssh/id_rsa
            StrictHostKeyChecking no
          END
          ssh-keyscan -H $SSH_HOST >> ~/.ssh/known_hosts
        env:
          SSH_KEY: ${{ secrets.DEPLOYMENT_KEY }}
          SSH_USER: ${{ secrets.DEPLOYMENT_USER }}
          SSH_HOST: ${{ secrets.DEPLOYMENT_HOST }}

      - name: Copy build assets
        run: scp -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no -r apps/footballsocial/dist/* $SSH_USER@$SSH_HOST:footballsocial/dist
        env:
          SSH_USER: ${{ secrets.DEPLOYMENT_USER }}
          SSH_HOST: ${{ secrets.DEPLOYMENT_HOST }}

      - name: Build
        run: cat apps/footballsocial/deploy.sh | ssh staging -T
